.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 1; 
  padding: 20px; 
  text-align: center; 
  background-color: #141414; 
  color: white; 
  margin: 10px; 
}

.slider-column {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.image-container {
  padding-top: 50px;
  display: flex;
}

.thumbnail {
  width: 50px; 
  height: 500px;
  overflow: hidden;
  margin: 5px; 
  transform: rotate(15deg);
  box-shadow: 0 0 15px 5px rgba(2, 0, 0, 0.952);
  transition: width 0.3s ease;
}

.thumbnail img {
  width: 200px; 
  height: 100%;
}

.thumbnail.hovered {
  width: 200px; 
}

.project-container {
  display: flex;
  align-items: center;
}

.icon-circle {
  background-color: blue;
  border-radius: 50%;
  height: 60px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.arrow-left {
  font-size: 40px;
  padding-left: 10px;
}

.arrow-right {
  font-size: 40px;
  padding-right: 10px;
}

.article {
  width: 350px;
}

p {
  line-height: 1.7;  
}
